body {
  background-color: #d2deed;
  font-family: Monospace,'Monaco', monospace;
}

h2{
  color: #ffffff;
  font-family: Monospace,'Monaco', monospace;
}

p{
  color: #ffffff;
  font-family: Monospace,'Monaco', monospace;
}

#text-center{
  border-style: solid;
  color: #ffffff;
}

#submit{
  color: #000000;
  margin-top: 10px;
}

